<script export="main" type="text/template">
<div class="wrape">
	<div class="message">
	<div class="block"></div>
		<div class="left">
			<div class="boxes">
				<div class="top">
					<div class="lefttopborder"></div>
					<div class="righttopborder"></div>
				</div>
				<div class="article">
				{{ it.message.forEach( function (item){ }}
					<h1>{{=item.title}}</h1>

					<h2 id="pos1">个人信息</h2>
					<span>姓名：{{=item.name}}   </span>
					<span>性别：{{=item.sex}}   </span>
					<span>手机：{{=item.phone}} </span>
					<span>邮箱：{{=item.email}} </span>
					<span>籍贯： {{=item.home}}  </span>
					
					
					<h2 id="pos2">学历教育</h2>
					<span>{{=item.scholl}}   </span>
					<span>{{=item.grade}} </span>
					<span>{{=item.college}} </span>
					<span>{{=item.class}} </span>
					
					<h2 id="pos3">求职意向</h2>
					<span>{{=item.intention1}}</span>
					<span>{{=item.intention2}}</span>
					
					<h2 id="pos4">个人评价</h2>
					<p>{{=item.shixi1}}</p><br/>
					<p>{{=item.shixi2}}</p><br />
					<p>{{=item.shixi3}}</p>
				</div>
				<div class="bottom">
					<div class="leftbottomborder"></div>
					<div class="rightbottomborder"></div>
				</div>
			</div>
			<div class="boxes">
				<div class="top">
					<div class="lefttopborder"></div>
					<div class="righttopborder"></div>
				</div>
				<div class="article">
				<div class="eg">
				<h2 id="pos5">专业技能</h2>
				<p>	<span>{{=item.jineng1}}</span>
					<span>{{=item.jineng2}}</span>
					<span>{{=item.jineng3}}</span>
					</p>
				</div>
					
				<h2 id="pos6">实习经历</h2>
					<div class="txt1">
					<span id="pos9"><b>{{=item.extitle1}}</b></span>
					<p>
					{{=item.excontent1}}
					</p>
					</div>
					<div class="txt1">
					<span id="pos10"><b>{{=item.extitle2}}</b></span>
					<p>
					{{=item.excontent2}}
					<br />
					</p>
					</div>
					<h2 id="pos7">我的团队</h2>
					<p>{{=item.team1}}</p>
					<p>{{=item.team2}}</p>
				</div>
				<div class="bottom">
					<div class="leftbottomborder"></div>
					<div class="rightbottomborder"></div>
				</div>
			</div>
			<div class="boxes">
				<div class="top">
					<div class="lefttopborder"></div>
					<div class="righttopborder"></div>
				</div>
				<div class="article">
					<h2 id="pos8">商业项目</h2>
					<span id="pos11">{{=item.busefirst}}</span>

					<span id="pos12">{{=item.busesecond}} </span><br /><br />
					<span id="pos13">{{=item.busethird}} </span><br /><br />
					<span>{{=item.buseforth}} </span><br /><br />
					<span>{{=item.busefifth}} </span><br /><br />
					<span> {{=item.busesixth}}</span><br />
					<h2 id="pos14">致谢</h2>
					<p>{{=item.last}}</p>
				</div>
				<div class="bottom">
					<div class="leftbottomborder"></div>
					<div class="rightbottomborder"></div>
				</div>
			</div>
		</div>
		
		{{ }); }}
		<div class="rightbox">
			<div id="righttop">
			<div class="more">
			<a href="javascript:;" id="names">介绍目录</a>
			<div class="jieshao">
				<ul id="messageId">
					<li> <a href="#pos1"> 个人信息 </a> </li>
					<li><a href="#pos2" > 学历教育 </a> </li>
					<li><a href="#pos3"> 求职意向 </a> </li>
					<li><a href="#pos4"> 个人评价 </a> </li>
					<li><a href="#pos5" > 专业技能 </a> </li>
					<li>  <a href="#pos6" id="ex"> 实习经历 </a>
					 </li>
					<li><a href="#pos7"> 我的团队 </a></li>
					<li> <a href="#pos8" id="buse"> 商业项目 </a>
					 </li>
					 <li> <a href="#pos14"> 致谢 </a>
					 </li>

				</ul>
			</div>
			</div>
			<div class="rightbottom">
			
			<a href="javascript:;" id="members">更多成员</a>
			<ul id="allmembers">
			<li> <div class="grade">
					
					<a href="javascript:;" id="#gra12">12级成员</a><br>
					<ul id="gra12">
					{{ it.members.forEach(function (item) { }}
					{{ if (item.gradeId == 12) { }}
						<li><a href="javascript:;" data-go-route-reload="/c/message/membersList&id={{=item.membersId}}" class="returnTop">{{=item.name}}</a></li>
						{{ } }}
					{{ }); }}
					</ul>
				</div>
			</li>
			<li><div class="grade">
					<a href="javascript:;" id="#gra13">13级成员</a><br>
					<ul id="gra13">
					{{ it.members.forEach(function (item) { }}
					{{ if (item.gradeId == 13) { }}
						<li><a href="javascript:;" data-go-route-reload="/c/message/membersList&id={{=item.membersId}}" class="returnTop" >{{=item.name}}</a></li>
						{{ } }}
					{{ }); }}
					</ul>
			</div>
			</li>
			<li><div class="grade">
					<a href="javascript:;" id="#gra14">14级成员</a><br>
					<ul id="gra14">
						<li><a href="">该年级成员暂无简历</a></li>
					</ul>
				</div>
			</li>
			<li><div class="grade">
					<a href="javascript:" id="#gra15">15级成员</a>
					<ul id="gra15">
						<li><a href="">该年级成员暂无简历</a></li>
					</ul>
				</div>
			</li>
			</ul>
			</div>
			</div>
		</div>
	</div>
	<div id="foot">
		
	</div>
</div>
	
</script>